

.nav_links{
    text-align: right;
   margin-right: 10px;
}

.middle{
    margin:auto;
    width: 50%;
    text-align:center;
}

.advanced_label{
width:20%;
text-align: left;
font-size: 30px;
}

h3{
    text-align: left;
    padding-left:10px;
    color: red;
    font-family:sans-serif
}

h2{
    text-align: center;
    font-family:sans-serif; 
    color: blue;
    padding-left: 130px;

}
input[type=search] {
    width: 80%;
    padding: 12px;
    margin: 8px;
    box-sizing: border-box;
}

.round{
    border-radius: 20px;
}

input[type=submit] {
    size-adjust: auto;
    background-color:dodgerblue;
    font-size: 20px;
    color: white;
    border: none;
}
.container{
    display: flex;
    flex-direction: row;
}
.flex_item{
    flex-direction: row;
    padding: 2px;;
    text-align: left;  
    width:100%;
}

@media(max-width:600px){
    .container{
        flex-direction: column;
    }
}

label{
    font-size: 20px;
    size: 100px;
    text-align:center;
}
#button_right{
    text-align: right;
    font-size:30px;
}
#lucky_button{
    background-color:whitesmoke;
    color: black;
} 
#search_button{
    background-color: whitesmoke;
    color: black;
}

#image_button{
    background-color: whitesmoke;
    color: black; 
}     